## there are three display styles at this stage, portrait (the default), landscape and tabular.
#if ( $control.isVisible() )
    #parse( "investigation/controlMessages.vm" )
    #set( $entInstCollectControls = ${control.getControls()} )
    <div class="entity-instance-group" role="row" aria-label="${control.getText()}">
        #foreach( $control in $entInstCollectControls )
            <div class="control-item" role="gridcell">
                #parse( "controls/${control.getControlType()}.vm" )
            </div>
            <span class="control-clear"></span>
        #end
    </div>
#end